@media only screen and (max-width: 600px) {
  /* top-palyer section */
  .container {
    width: 100%;
  }
  .title {
    text-align: center;
  }
  .players {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .player {
    display: flex;
    justify-content: center;
  }
  /* top-blog section */
  .blogs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .blog {
    display: flex;
    justify-content: center;
  }
  /* latest courses section */
  .courses {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .course {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .title {
    text-align: center;
  }
  .players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .player {
    display: flex;
    justify-content: center;
  }
  /* top-blog section */
  .blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .blog {
    display: flex;
    justify-content: center;
  }
  /* latest courses section */
  .courses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin-left: 5%;
  }

  .course {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
}
