body {
  background-color: #e5e5e5;
}
.container {
  background-color: #ffff;
  width: 870px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-top: 20px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* top layer players */
.top_player {
  margin-bottom: 30px;
}
.title {
  margin-top: -5px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}
.player {
  display: flex;
}
.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  margin-left: 16px;
}
hr {
  border: 1px solid gold;
}

/* blog section start */
.top-blogs {
  margin-bottom: 30px;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
}
.blog {
  display: flex;
}
.blog img {
  width: 177px;
  height: 117px;
}
.blog-content {
  width: 164px;
  height: 68px;
  margin-left: 16px;
}
/* latest courses start */
.latest-courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.courses {
  height: 269px;
  width: 252px;
}
.courses {
  display: flex;
  align-items: center;
}

.course img {
  width: 224px;
  height: 104px;
}
.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.course-info-content {
  height: 22px;
  width: 22px;
}
.icon {
  width: 12px;
  height: 11px;
}
.icon-color-full {
  color: #ffc014;
}
.icon-color-emty {
  color: #aeaeae;
  margin-right: 10px;
}

.course-info-time {
  background: #fee5df;
  border-radius: 14.6913px;
  color: red;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
}
